.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.balance-card-wrapper {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fruit-button-wrapper {
  display: flex;
  justify-content: center;
}